html {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0 auto;
    background-color: white;
}

header {
    text-align: center;
    margin: 0 auto;
}

nav {
    font-size: 2.5em;
    font-weight: bold;
    z-index: 2;
 }
 
 nav ul li a{
    color: gray;
    background-color: white;
    list-style-type: none;
    display: block;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
 }

 nav ul li a:hover {
    background-color: rgb(200, 200, 200);
 }

.wrapper {
    padding-bottom: 2em;
}

 .logo {
    width: 50%;
    display: block;
    margin: 0 auto;
 }

 .cake {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-bottom: 2em;
 }

 .tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* sets the specifics for the tooltip text, including size, color, and opacity 
  also adds a transition property to it so that when its opacity is changed, it happens over 1 second*/
  .tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.25em;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(-50%, 0%);
    z-index: 1;
  }
  
  /* when the user hovers over the tooltip container, the tooltiptext will become visible */
  .tooltip:hover .tooltiptext {
    opacity: 1;
  }

 .content p {
    font-size: 1.25em;
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1em;
 }

footer {
    border-top: 2px solid gray;
    padding-top: 1em;
    padding-bottom: 1em;
}

 footer p {
    margin-left: 25%;
 }

 /* below is the styling for the contact page, mostly just a form
 it arranges it to be easily legible and clickable */
.contact {
    width: auto;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.contact h2 {
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.contact h3 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.contact h4 {
    font-size: 2.25em;
    margin-bottom: 0.35em;
    margin-top: 0.5em;
}

.contact input {
    width: calc(100% - 6px);
    height: 3em;
    border: 1px solid gray;
    font-size: 1em;
}

.msgbox textarea {
    resize: none;
    height: 12em;
    width: calc(100% - 6px);
    border: 1px solid gray;
    font-size: 1.5em;
    padding: 2px;
}

.contact button {
    margin-top: 0.5em;
    width: 4em;
    height: 1.5em;
    color: black;
    background-color: white;
    border: 2px solid gray;
    font-size: 2.5em;
    margin-bottom: 1em;
}

.contact button:hover {
    background-color: rgb(200, 200, 200);
}


/* below are all the stylings specific to the products page */
.productsh1 {
    font-size: 3em;
    margin-top: 1em;
    font-weight: bold;
    text-align: center;
}

.items {
    margin: 0 auto;
    margin-top: 3em;
    width: 90%;
    display: block;
    text-align: center;
}

.productimage {
    width: 20%;
}

/* this is the beginning of media queries
I'm doing only one media query, at 760px, to differentiate between the mobile and desktop layouts */
 @media screen and (min-width: 760px) {
    header {
        padding-bottom: 8em;
    }
    
    nav {
        position: fixed;
        width: 100%;
        font-size: 2.5vw;
    }
    
    nav ul li a {
        float: left;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        border-right: 2px solid gray;
        padding: 0.5em;
        width: calc(25% - 1em - 4px);
        margin: 0;
        margin-bottom: 2em;
    }

    .first {
        border-left: 2px solid gray;
    }

    .logo, .cake {
        width: 30%;
    }

    .content p {
        width: 50%;
    }
 }